/* LandingPage CSS */

/* FEATURED TOPIC - CURRENT CONVERSATION */
.featuredTopic{
    box-shadow: 1px 1px 6px #888888;
    margin-bottom: 2em;
    cursor: pointer;
    transition: all 0.3s;
}

.featuredTopic:hover{
    border: 1px solid #006666;
    box-shadow: 4px 4px 5px #000;
}

.featuredContributorCardLeft{
    height: 100%;
    background-color:rgba(135, 206, 235, 0.2);
}

.featuredContributorCardRight{
    height: 100%;
    background-color:rgba(34, 139, 34, 0.2);
}

.featuredContributorPhotoLeft{
    float: left;
    max-width: 10em;
    height: auto;
    margin-right: 1em;
    border: 3px solid skyblue;
}

.featuredContributorPhotoRight{
    float: right;
    max-width: 10em;
    height: auto;
    margin-left: 1em;
    border: 3px solid forestgreen;
}

.featuredContributorText{
    font-size: 1.1em; 
    padding: 1em; 
}

.featuredContributorName{
    font-weight: bold;
    text-align: center;
} 

/* ARCHIVED TOPICS */

.archivePanel{
    border-radius: 10px; 
    box-shadow: 1px 1px 6px #888888;
    background: white; 
    transition-duration: 0.3s;
    transition-property: all;
    margin-bottom: 1em;
    overflow: hidden;
}

.archivePanel:hover{
    border: 1px solid #006666;
    box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.archivePanel:hover .card-header{
    font-weight: bold;
}

.archiveTopicSummary {
    min-height: 6em
}