/* TITLE CONTENT */

h1{
    font-family: 'Montserrat', sans-serif;
}

/* .titleJumbotron{
    text-align: justify; 
    width: 100% !important; 
    background-color: inherit !important; 
    background-color: white !important; 
    margin: 0px 0px;
    padding-left: 8em; 
    padding-right: 8em; 
    font-family: 'Montserrat', sans-serif;
} */

/* .commonGroundJumbotron{
    text-align: center; 
    width: 100% !important; 
    background-color: inherit !important; 
    margin: 0px;
    padding-left: 11em; 
    padding-right: 11em; 
    border-top: 1px solid rgba(128, 128, 128, 0.289);  
    border-bottom: 1px solid rgba(128, 128, 128, 0.289);  
} */

/* .titleLogo{
    display: inline-block; 
} */


/* CONTRIBUTORS SECTION */

/* .contributorCard{
    height: 100%;
} */

.contributorCardLeft{
    height: 100%;
    background-color:rgba(135, 206, 235, 0.2);
}

.contributorCardRight{
    height: 100%;
    background-color:rgba(34, 139, 34, 0.2);
}

.contributorPhotoLeft{
    float: left;
    max-width: 10em;
    height: auto;
    margin-right: 1em;
    border: 3px solid skyblue;
}

.contributorPhotoRight{
    float: right;
    max-width: 10em;
    height: auto;
    margin-left: 1em;
    border: 3px solid forestgreen;
}

.contributorText{
    font-size: 1.1em; 
    padding: 1em; 
}

.contributorName{
    font-weight: bold;
    text-align: center;
} 

.nav > .active {
    background-color: lightyellow!important;
    font-weight: bold!important;
    border-bottom: 0!important;
}



/* ARENA */

.arenaDivider{
    width: 95%;
    margin: 0 auto 1em auto!important;
}

/* #arenaTop{ */
    /* border: 1px solid red !important;  */
    /* padding: 0em 1em 1em 0em;  */
/* } */

.arenaPhotoContrib1{
    max-width: 10em;
    height: auto; 
    border: 3px solid skyblue;
    float: left;
    margin-right: 1em;
}

.arenaPhotoContrib2{
    max-width: 10em;
    height: auto; 
    border: 3px solid forestgreen;
    float: left;
    margin-right: 1em;
}

.arenaProposal h3{
    font-weight: bold;
}

.arenaProposal p{
    font-size: 1.1em;
}

.arenaSummary{
    height: 100%; 
    width: 95%; 
    background-color: lightgrey; 
    margin: 3.5em auto 2% 8%; 
    padding: 1em; 
    /* background-color: #00666697;  */
}

.arenaSummary p {
    font-size: 1.2em; 
}


.arenaContainerContrib1 {
    background: red; 
    border: 2px solid #006666 !important;
}



/* KEY CLAIMS */

.keyClaimsContainer {
    height: 40em; 
    overflow: auto;
}

.keyClaimPanel{
    width: 90%; 
    margin: 10px 0;
    background: lightgray;
    transition: all 0.3s;
}

.keyClaimPanel:hover{
    cursor: pointer;
    width: 95%;
}

.keyClaimPanel.contrib1{
    background-color: rgba(135, 206, 235, 0.2);
}

.keyClaimPanel.contrib1:hover{
    background-color: rgba(135, 206, 235, 0.8);
}

.keyClaimPanel.contrib1.locked{
    width: 95%; 
    font-weight: bold;
    font-size: 1.1em;
    background-color: rgba(135, 206, 235, 1);  
}

.keyClaimPanel.contrib2{
    background-color: rgba(34, 139, 34, 0.2);
}

.keyClaimPanel.contrib2:hover{
    background-color: rgba(34, 139, 34, 0.8);
}

.keyClaimPanel.contrib2.locked{
    width: 95%; 
    font-weight: bold;
    font-size: 1.1em;
    background-color: rgba(34, 139, 34, 1);  
}

.keyClaimFooter{
    background-color: inherit; 
    border: none; 
    padding: 1em 0 0 0;

}

.keyClaimFooterLikes{
    float:right; 
    margin-right: 1em; 
    background-color: inherit !important; 
}

.keyClaimFooterButtons{
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.25rem;
        float:right;
}


.contributorTabs a{
    border-bottom: 2px solid lightyellow;
    /* position: relative;
    top: 2px; */
    overflow: visible;
    z-index: 5000;
}




/* STREAM ITEMS */

.streamItemsContainer{  
    height: 40em; 

    /* border-radius: 10px;  */
    overflow: auto;
    /* display: inline-block;  */
}
/* 
.streamItemCard{
    padding: 1em;
} */

.arenaMini1{
    max-width: 3em;
    height: auto; 
    border: 2px solid skyblue;
    float: left;
    margin: 5px;
}

.arenaMini2{
    max-width: 3em;
    height: auto; 
    border: 2px solid forestgreen;
    float: right;
    margin: 5px;
}

.streamItem{
    margin-right: 0em; 
    width: 100%; 
}

/* @media only screen and (min-width: 1330px) {
    .arenaMini1 {
        display: none; 
    }
    .arenaMini2{
        display: none; 
    }
} */

.evidenceTag{
    font-size: 0.8em; 
    margin: 1em auto;
    cursor: pointer;
}



/* CONTRIBUTOR STUFF */

/* .contrib1 {
    border: 2px solid skyblue !important;
} */


/* .contrib2 {
    border: 2px solid forestgreen !important;
} */


.contrib1Stream {
    border: 2px solid skyblue;
    background-color: rgba(135, 206, 235, 0.2);
    width: 75%; 
    margin: 0.5em auto 0em 1em;
}


.contrib2Stream {
    border: 2px solid forestgreen;
    background-color: rgba(135, 206, 235, 0.4);
    width: 75%; 
    margin: 0.5em 1em 0em auto; 
}